.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.text-center {
  margin-bottom: 16px;
  color: #333;
}

.input-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
  margin-top: 10vh; /* Moved the search bar up a bit */
}

.form-control {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  width: 100%; /* Set a fixed width */
  max-width: 400px; /* Set a max-width to maintain a uniform width */
  min-width: 300px;
  height: 88px; /* Set a fixed height */
  white-space: nowrap; /* Keeps text in a single line */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) to represent the clipped text */
  display: flex; /* Added to center text vertically */
  align-items: center; /* Added to center text vertically */
}

.next-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9; /* Optional: adjust the background color to match your color scheme */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: adding a subtle shadow for a better look */
}

.next-button {
  width: 100%; /* Make the button take the full width of its container */
  border: none; /* Remove border */
  padding: 15px; /* Add padding for a larger, more clickable area */
  font-size: 1em; /* Adjust font size */
  color: #fff; /* Adjust font color */
  background-color: #0d6efd; /* Adjust background color to match your color scheme */
  border-radius: 8px; /* Optional: add border-radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Optional: add transition for a smooth color change on hover */
}

.next-button:hover {
  background-color: #0056b3; /* Optional: change background color on hover for a visual feedback */
}


@media (max-width: 768px) {
  .input-group {
    max-width: 100%;
  }

  .list-group-item {
    width: 100%; /* Adjusted width for mobile screens */
  }
}
