.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.text-center {
  margin-bottom: 16px;
  color: #333;
}

.input-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
  margin-top: 2vh; /* Moved the search bar up a bit */
}

.suggestionsAndSelectionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form-control {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.list-group-item {
  width: 100%; /* Set a fixed width */
  max-width: 400px; /* Set a max-width to maintain a uniform width */
  min-width: 300px;
  height: 88px; /* Set a fixed height */
  white-space: nowrap; /* Keeps text in a single line */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) to represent the clipped text */
  display: flex; /* Added to center text vertically */
  align-items: center; /* Added to center text vertically */
}

.next-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.next-button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 1em;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #0056b3;
}

/* Updated Media query for desktop */
@media (min-width: 768px) {
  .next-button-container {
    padding: 10px; /* Reduced padding to provide more space for the content */
  }
  
  .next-button {
    width: 50%; /* Reduced width to give the button a more proportional look on desktop screens */
    margin: auto; /* Center the button horizontally */
    padding: 10px; /* Reduced padding to make the button smaller */
    font-size: 0.8em; /* Reduced font size to maintain proportionality with the smaller button size */
  }
}

@media (max-width: 768px) {
  .input-group {
    max-width: 100%;
  }

  .list-group-item {
    width: 100%; /* Adjusted width for mobile screens */
  }
}
