.manga-image {
    object-fit: cover;
    height: 450px; /* Adjust as necessary */
}

.manga-text {
    height: 220px; /* Adjust as necessary */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.read-more {
    color: #007bff;
    cursor: pointer;
}

.mal-link {
    align-self: flex-end;
    font-size: 0.8em;
    color: #007bff;
}
